# Database
*.db
database/*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/

# Uploads
static/uploads/posts/*
static/uploads/profiles/*

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.env
